.button {
  display: inline-block;
  height: auto;
  padding: 1rem 4.1rem;
  margin: 0 1rem;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  &__select {
    color: var(--black-2);
    font-family: Poppins;
    padding: 1rem;
    margin: 1rem;
    border: none;
    outline: none;
    background-color: var(--bg-3);
    width: 160px;
    cursor: pointer;
  }
}
.button--primary {
  background-color: var(--primaryPurple);
  color: var(--white);
}
.button--secondary {
  background-color: var(--bg-3);
  color: var(--black-1);
}
